
nav ul{
  background: green;
}

nav ul li{
  display: inline;
  padding: 0 1em;
}

li{
  list-style: none;
}

.list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.active{
  background: red;
}

.inactive{
  background: green;
}

.item{
  margin: auto;
  width: 300px;
  padding: .2em;
}

.item-head{
  background: gold;
  display: flex;
  justify-content: space-between;
}

.collapsed{
  max-height: 0px;
  overflow: hidden;
}

.expanded{
  height: auto;
}

li p{
  display: inline;
}

li div{
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
